<meta charset="utf-8">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="<%- faviconApple %>">
<link rel="icon" type="image/png" sizes="32x32" href="<%- favicon32 %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%- favicon16 %>">
<link rel="manifest" href="<%- faviconManifest %>">

<link rel="stylesheet" href="<%- cssLink %>">
<link rel="stylesheet" href="./output.css"/>

<!-- Extra info about the page. -->
<meta name="description" content="My personal portfolio website.">
<meta name="keywords" content="portfolio, artist, 3d artist, data visualisation, data journalism, creative coding, creative technologist, creative development, web developer">
<meta name="author" content="Zala Sesko">

<!-- Setting the viewport based on the device used. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Zala Š. | <%- pageTitle %> </title>